* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content:"";
    display: flex;
    clear: both;
}

@media screen and (max-width: 600px){
    .column {
        width:100%;
    
    }
}

body {
    background-color: aqua;
    background: linear-gradient(blueviolet,rgb(82, 5, 154));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 80%;
    height: 600px;
    padding: 20px;
    color: whitesmoke;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.table {
    background: lightpink;
    width: 100%;
}

.table-section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#book-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    word-wrap: break-word;
    background: white;
    color: black;
}

#book-list > section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
}

.btn {
       background: deepskyblue;
       border: none; 
       color: whitesmoke;
       margin-bottom: 20px;
       padding: 10px 20px;
       cursor: pointer;
}












