* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    background: linear-gradient(blueviolet,rgb(82, 5, 154));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}








